@font-face {
  font-family: "remixicon";
  src: url('@/uni_modules/sinle-ui/static/fonts/remixicon/remixicon.ttf');
}

@font-face {
	font-family: 'alipuhuiheavy';
	src: url('@/uni_modules/sinle-ui/static/fonts/alipuhui/heavy.ttf');
}

@font-face {
	font-family: 'misans-semibold';
	src: url('@/uni_modules/sinle-ui/static/fonts/misans/MiSans-Semibold.ttf');
}

@font-face {
	font-family: 'misans-normal';
	src: url('@/uni_modules/sinle-ui/static/fonts/misans/MiSans-Normal.ttf');
}
